.vue-inspector-dropdown {
  position: fixed;
  z-index: 100001;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: 200px;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  border-radius: 4px;
  font-size: 12px;
  box-shadow:
    0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.vue-inspector-dropdown:empty {
  display: none;
}

.vue-inspector-dropdown > li {
  padding: 0 12px;
  display: flex;
  align-items: center;
  line-height: 28px;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
}

.vue-inspector-dropdown > li:hover {
  background:rgba(0, 0, 0, 0.03);
}

.vue-inspector-dropdown > li:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.vue-inspector-dropdown > li > span:first-of-type {
  margin-right: 8px;
  flex: unset;
}

.vue-inspector-dropdown > li > span {
  color: rgba(0, 0, 0, 0.45);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vue-inspector-dropdown .vue-inspector-green {
  color: #42b883;
}

.vue-inspector-dropdown .vue-inspector-purple {
  color: #ac20b3;
}

.vue-inspector-dropdown > li::after {
  margin-left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  content: "";
  transform: rotate(45deg);
}

.vue-inspector-overlay {
  position: fixed;
  z-index: 100000;
  padding: 4px;
  border: 1px solid rgba(66, 184, 131, 0.8);
  background: rgba(66, 184, 131, 0.2);
  pointer-events: none;
  box-sizing: border-box;
}

.vue-inspector-overlay::before {
  position: sticky;
  top: 4px;
  left: 4px;
  padding: 0 4px;
  display: inline-block;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(66, 184, 131, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.45);
  content: attr(data-vue-inspector-overlay-title);
  font-size: 12px;
  line-height: 1.5em;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.vue-inspector-click-effect {
  position: fixed;
  z-index: 100001;
  pointer-events: none;
}

.vue-inspector-click-effect::before,
.vue-inspector-click-effect::after {
  position: absolute;
  top: -30px;
  left: -30px;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #42b883;
  content: "";
  opacity: 0;
}

.vue-inspector-click-effect::before {
  animation: vue-inspector-zoom-in 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.vue-inspector-click-effect::after {
  animation: vue-inspector-zoom-out 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  opacity: 0.2;
  transform: scale(0.3);
}

@keyframes vue-inspector-zoom-in {
  from { opacity: 0.5; transform: scale(0.5); };
  to { opacity: 0; transform: scale(1); };
}

@keyframes vue-inspector-zoom-out {
  to { transform: scale(0); };
  from { transform: scale(0.3); };
}